body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    flex-direction: column;
    /* background-color: #1F2937; */
    margin: 0 80px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.text {
    width: 500px;
}

.placeholder {
    display: flex;
    width: 500px;
    height: 200px;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 125px;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 10px;
    border: 2px solid blue;
    width: 125px;
    height: 125px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
}
.quote-author {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}