body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 50px 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-main-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    font-size: 14px;
    font-weight: 700;
    color: #F9FAF8;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border-color: #F9FAF8;
}

.text {
    width: 500px;
}

.placeholder {
    display: flex;
    width: 500px;
    height: 260px;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 125px;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 10px;
    border: 2px solid blue;
    width: 125px;
    height: 125px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 10%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.box-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}